
@font-face {
    font-family: 'SitkaB';
    src: url(/assets/fonts/sitka-small-599.ttf);
    font-weight: bold;
}

html{
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #33333D;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
}



/* HEADER  */
.header{
    position: relative;
    width: 100%;
    height: 15%;
    background-color: #33333D;
}

.header h1{
    font-size: 50px;
    font-family: 'SitkaB';
    font-weight: bold;
}

.header .user{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    font-family: 'SitkaB';
    font-weight: bold;
    height: 100%;
}

.user i{
    font-size: 50px;
    margin-top: -5%;
}


/* MENUBAR  */

.menubar{
    position: absolute;
    top: 0;
    background-color: #33333D;
    width: 15%;
    height: 100vh;
}

.icons i{
    color: #6C6C73;
    font-size: 35px;
    transition: 0.4s ease;
}

.selected{
    padding-bottom: 0.8rem !important;
    padding-top: 0.8rem !important;
}

.selected i{
    color: white;
    font-size: 40px;
}

.selected p{
    display: block !important;
}

.icons p{
    color: white;
    font-family: 'SitkaB';
    font-weight: bold;
    font-size: 15px;
    display: none;
}

.icons i:hover{
    font-size: 40px;
    color: white;
    cursor: pointer
}


/* MAIN  */
.content{
    margin-left: 15%;
    height: 85vh;
    background-color: #33333D;
    flex-wrap: wrap;
}


/* OVERVIEW  */
.box-text{
    padding-top: 20px;
}
.navigate{
    margin-top: 10px;
    padding: 5px 25px 5px 25px;
    color: white;
    border: 2px solid #CD3E71;
    border-radius: 30px;
    transition: 0.4s ease;
    background-color: transparent;
    height: 40px;
}
.navigate:hover{
    background-color: #CD3E71;
    transform: scale(1.05);
}

/* task box */
.task-box{
    position: relative;
    border: 1px solid #CD3E71;
    height: 450px;
    width: 42%;
    overflow: hidden;
}
.task-chart{
    width: 300px;
}
.li-task{
    color: white;
    font-size: 18px;
    padding-top: 25px;
}

.li-task::before{
    content: "•   ";
    color: #005e58;
    padding-right: 10px;
}

.task-list{
    width: 50%;
}

/* goals box  */
.goal-box{
    border: 1px solid #CD3E71;
    height: 450px;
    width: 42%;
    margin-left: 50px;
}
.goal-chart{
    width: 300px;
}

/* event box  */
.event-box{
    border: 1px solid #CD3E71;
    height: 300px;
    width: 87%;
}

.event-list{
    margin-left: 170px;
}

.event-list li{
    padding: 20px;
    list-style-type: disc;
    color: #01BC81;
}

/* TASK  */
.task-progression-box{
    border: 1px solid #CD3E71;
    height: 750px;
    width: 40%;
    margin-left: 50px;
}

.task-chart-list{
    width: 400px;
}

.task-progression-box ul li{
    color: white;
    font-family: 'SitkaB';
    font-weight: bold;
    font-size: 30px;
    list-style: circle;
    padding: 20px;
}

.task-list-box{
    border: 1px solid #CD3E71;
    height: 750px;
    width: 40%;
    margin-left: 50px;
}

.single-task-list{
    width: 80%;
    height: 80%;
    overflow-y: scroll;
}

.single-task-list ol{
    list-style-type: decimal;
    color: white;
}

.single-task-list ul li{
    list-style-type: disc;
    color: #01BC81;
}

.single-task-list::-webkit-scrollbar{
   width: 10px;
}

.single-task-list::-webkit-scrollbar-track {
    background-color: transparent;
}

.single-task-list::-webkit-scrollbar-thumb {
    background-color: #CD3E7130;
    border-radius: 20px;
    transition: 400ms ease;
}

.single-task-list::-webkit-scrollbar-thumb:hover {
    background-color: #CD3E7180;
}

.done{
    padding: 5px 15px 5px 15px;
    color: white;
    border: 2px solid #CD3E71;
    border-radius: 30px;
    transition: 0.4s ease;
    background-color: transparent;
    height: 40px;
}

.done:hover{
    background-color: #CD3E71;
    transform: scale(1.05);
}

.mm{
    background-color: #33333D !important;
    color: white !important;
}

.modal-header{
    border-bottom: 1px solid gray !important;
}

.modal-footer{
    border: none !important;
}

.two{
    border-radius: 0px !important;
}

.form-control{
    opacity: 80%;
    border-radius: 10px;
}

/* GOALS  */

.goals-row{
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
}

.goal-page-list{
    width: 80%;
    height: 70%;
    margin-left: 40px;
    overflow-y: scroll;
}

.distribution{
    border: 1px solid #CD3E71;
    height: 400px;
    margin-left: 50px;
}

.health, .skills, .education, .social, .org{
    border: 1px solid #CD3E71;
    height: 400px;
    flex : 33.33%;
    margin-left: 50px;
}


.goal-page-list ul li{
    padding-top: 30px;
    list-style-type: disc;
    color: #01BC81;
}

.achieved{
    padding: 5px 10px 5px 10px;
    color: white;
    border: 2px solid #CD3E71;
    border-radius: 30px;
    transition: 0.4s ease;
    background-color: transparent;
    height: 35px;
    font-size: 14px;
}

.achieved:hover{
    background-color: #CD3E71;
    transform: scale(1.05);
}

.scroll::-webkit-scrollbar{
    width: 10px;
 }
 
 .scroll::-webkit-scrollbar-track {
     background-color: transparent;
 }
 
 .scroll::-webkit-scrollbar-thumb {
     background-color: #CD3E7130;
     border-radius: 20px;
     transition: 400ms ease;
 }
 
 .scroll::-webkit-scrollbar-thumb:hover {
     background-color: #CD3E7180;
 }


 /* EVENTS  */

 .calendar {
    border: 2px solid #6C6C73;
    padding: 40px;
    width: 50%;
    height: 80%;
 }

 .calendar-select {
     border-radius: 10px;
     width: 70%;
 }

 .cal-select{
     margin-left: 50px;
 }

 .cal-num{
     padding-top: 40px;
     padding-bottom: 40px;
     flex-wrap: wrap;
     width: 100%;
     margin-left: -30px;
 }

 .cal-btn{
    display: flex;
    justify-content: center;
    align-items: center ;
    padding: 15px 35px 15px 35px;
    color: white;
    border: 2px solid #CD3E71;
    /* border-radius: 100%; */
    width: 120px ;
    transition: 0.4s ease;
    background-color: transparent;
    height: 60px;
    font-size: 30px;
    margin-left: 10px;
 }

.cal-btn:hover{
    transform: scale(1.2);
}

.event-details{
    width: 40%;
    height: 80%;
    padding-left: 100px;
}
.details{
    height: 80%;
    overflow-y: scroll;
}

.events-text{
    color: white;
    padding: 30px;
    
}

.events-text ol li{
    list-style-type: circle;
}

div[class^='item']{
    padding-bottom: 30px;
}

div[class^='item'] li{
    list-style-type: decimal;
    font-family: 'SitkaB';
    font-weight: bold;
    font-size: 20px;
}
    




